.history
.left
    width: 44%
    &-history
        display: inline-block
        padding: 6px 16px
        background-color: rgba(54, 179, 126, 0.1)
        border-radius: 2000px
        font-style: normal
        font-weight: 600
        font-size: 14px
        line-height: 20px
        color: $green-color
        text-transform: uppercase
        margin-bottom: 28px
    &-title
        font-family: 'HKGrotesk-Bold'
        font-style: normal
        font-weight: bold
        font-size: 48px
        line-height: 60px
        margin-top: 0
        color: $text-color
        margin-bottom: 25px
    &-text
        font-family: 'Open Sans'
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 36px
        text-align: left
        color: $blue
        width: 78%
.button
    &-prev
        &__img
            border: 1px solid #959EAD
            text-align: center
            
    &-next
