
.selection
    position: relative
    background-image: url(../img/woman.png)
    background-repeat: no-repeat
    background-position: left
    background-size: cover
    width: 1280px
    margin-left: 125px
    height: 700px
    border-radius: 8px
    margin-top: -40px
    &-wrapper
        margin-left: 105px

.cool 
    &-ready
        font-family: "HKGrotesk-Medium"
        font-style: normal
        font-weight: bold
        font-size: 56px
        color: $text-color
        text-align: left
        width: 384px
        padding-top: 35px
.title
    &-strong
        display: flex
        flex-direction: column
        align-items: flex-start
        font-family: Open Sans
        font-style: normal
        font-weight: 600
        font-size: 14px
        color: $green-color
        text-align: center
        opacity: 1
        margin-top: 40px
        padding-top: 58px
        &__ready
            
.text
    font-style: normal
    font-weight: normal
    font-size: 20px
    line-height: 36px
    color: #5A7184
    text-align: left
    width: 610px
    margin-bottom: 70px
.clothes
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    color: $light
    text-align: center
    border: 2px solid $text-color
    background-color: $text-color
    border-radius: 8px
    text-decoration: none
    padding: 16px 40px
    border: none
.icons
    margin-top: 65px
    &__link
        text-decoration: none
.services
    font-family: HK Grotesk
    font-style: normal
    font-weight: 500
    font-size: 16px
    color: $text-color
    margin-right: 45px

            